body {
    background-color: lightgray;
    padding: 2rem 4rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 100;
}

table {
    margin: auto;
}

th {
    background-color: black;
    color: white;
}

td {
    padding: 0.5rem 1rem 0 0;
}

th {
    padding: 1rem;
}